body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

nav {
  display: inline-block;
  width: 80%;
}

nav img {
  width: 10%;
}

/* li {
  list-style-type: none;
} */

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  align-items: start;
  row-gap: 20px;
}

.grid img {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
